<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" href="/">广场</a>
            <a class="blog-nav-item" href="/words/edit">发表</a>
        </nav>
    </div>
</div>